:root {
    /* set up font-size */
    font-size: 62.5%; /* 1rem = 10px */

    /* colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* fonts */
    --ff: 'Outfit', sans-serif; /* family */
    --fs-p: 1.53rem; /* size paragraph */
    --fs-h1: 2.2rem; /* size header */
    --fw-regular: 400;
    --fw-bold: 700;
}

/* reset */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background-color: var(--light-gray);
}

body, h1, p {
    margin: 0;
    padding: 0;
}

img {
    display: block; /* to remove default gap in inline elements */
    width: 100%;
}

/* fonts */
.container__wrapper h1 {
    font-family: var(--ff);
    font-size: var(--fs-h1);
    color: var(--dark-blue);
}

.container__wrapper p {
    font-size: var(--fs-p);
    color: var(--grayish-blue);
    font-family: var(--ff);
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
    width: 85%;
    margin: auto;
    padding: 1.6rem;
    border-radius: 2rem;
    background-color: var(--white);

    box-shadow: rgba(0, 0, 0, 0.4) .4rem .8rem 2rem -1rem;

    /* to center container */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 1; 
}

.container__image {
    border-radius: 1rem;
    overflow: hidden;
}

.container__wrapper {
    text-align: center;
    padding-inline: 1.6rem;
    padding-block: 2.4rem;
}

.container__wrapper p {
    margin-top: 1.5rem;
}

/* desktop layout */
@media screen and (min-width: 375px) {
    .container {
        width: 31.875rem;
    }
}

/* mobile layout */
@media screen and (max-width: 298px) {
    body {
        display: block;
    }

    .container {
        width: 25.3rem;
        margin: 1rem auto;
        /* position: initial;
        transform: initial; */
    }
}

/* mobile less than 253px */
@media screen and (max-width: 253px) {
    .container {
        border-radius: 0;
        margin: 0;
    }
}

.attribution {
    position: absolute;
    bottom: .4rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
